<!DOCTYPE html>
<html>

 <% if current_page?(:controller => 'movies', :action => 'index') %>
<div style="margin-left: 10px;">
  <%= form_tag movies_path, method: "post", :id => 'add_new_movie', remote: true do %>
    </br>
    <h2 style="color: #DADADA">Add a new movie</h2>
    <br>
    <%= text_field_tag :title, params[:title], :class=>"form-control", :placeholder=>"Title" %>
    <br>
    <%= text_field_tag :director, params[:director], :class=>"form-control", :placeholder=>"Director" %>
    <br>
    <%= submit_tag "Add", :class=>"btn btn-primary" , :style=>"float: right"%>
    <br>
  <% end %>
</div>

<% elsif action_name == "index" && controller_name == "cast_members"%>
  <div style="margin-left: 10px;">
    <%= form_tag "/cast_members", method: "get" do %>

      <br>
      <h2 style="color: #DADADA">Search a cast member</h2>
      <br>
      <input class="form-control" type="text" name="name" placeholder="Name" >
      <br>

      <button type="submit" class="btn btn-info">Search</button>

    <% end %>
  </div>


<% elsif action_name == "show" && controller_name == "movies" %>
<div style="margin-left: 10px;">
  <%= form_tag '/movies/' + params[:id].to_s, method: "post", :id=>'add_cast_member', remote: true do %>
    </br>
    <h2 style="color: #DADADA">Add a new cast member</h2>
    <br>
    <%= text_field_tag :name, params[:name], :class=>"form-control", :placeholder=>"Name" %>
    <br>
    <%= text_field_tag :role, params[:role], :class=>"form-control", :placeholder=>"Role" %>
    <br>
    <%= submit_tag "Add", :class=>"btn btn-primary" , :style=>"float: right"%>
    <br>
  <% end %>
</div>
<% end%>

</html>